.aboutContainer {
    display: flex;
    height: var(--sectionHeight);
}

.aboutContent {
    height: 90%;
    width: 100%;
   background: linear-gradient(to top, rgba(255, 255, 255, 0.212)0%,rgba(0, 214, 200, 0)50%);
    border-radius: 20px;
    border: 1px solid rgb(80, 83, 84);

    padding: 10px;
}