

.contactContainer{
    display: flex;
    height: 40vh;
    width: 100%;
  
  gap: 40px;
 
    


}

.contactContent {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.CTAtext {
  font-size: 4.2em;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 40px;
  
  
}

.belOns {
  position: relative;
  /* padding: 12px 24px; */
  height: 40px;
  width: 200px;
  font-family: 'WDXL Lubrifont TC';
   background: linear-gradient(to top, rgba(0, 214, 200, 0.175)0%,rgba(0, 214, 200, 0)50%);
  font-size: 1.5em;
  font-weight: bold;
  color: #ffff;
  border: 1px solid rgba(0, 209, 194);
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;


}
.backdropStyle{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
}
.modalStyle{
  background-color: rgb(20, 20, 20);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 300px;
  text-align: center;
  color: white;
}


/* 
.belOns:hover {
  color: #ffffff;
} */

.belOns::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: linear-gradient(to top, rgba(0, 214, 200, 0.175)0%,rgb(0, 214, 200)50%);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.belOns:hover::before {
  transform: translateX(0);
}

.belOns:hover {
  color: #000;
}

.mailOns {
  position: relative;
  /* padding: 10px 20px; */
  height: 40px;
  width: 200px;
  font-family: 'WDXL Lubrifont TC';
  background: linear-gradient(to top, rgba(0, 214, 200, 0.175)0%,rgba(0, 214, 200, 0)50%);
  font-size: 1.5em;
  font-weight: bold;
  color: #ffff;
  border: 1px solid rgba(0, 209, 194);
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;

}

.mailOns::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: linear-gradient(to top, rgba(0, 214, 200, 0.175)0%,rgb(0, 214, 200)50%);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.mailOns:hover::before {
  transform: translateX(0);
}

.mailOns:hover {
  color: #000;
}
.CTAtextp {
  font-size: 1.2em;
  color: white;

}