.homeContainer {
    height: var(--sectionHeight);


}

.homeContent {
    display: flex;
    flex-direction: column;
    height: 40vh;
    position: relative;
    top: 20%;
}

.title {
    color: white;
    font-size: 20px;
}
.explainText{
    color: white; 
   font-size: 30px;
   font-weight: bold;
}
/*.startButton{
    height: 60px;
    width: 500px;
    padding: 10px 20px;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--gridareaColor);
    border-radius: 10px;
    cursor: pointer;

    border: 1px solid var(--gridareaColor);
    transition: all 0.3s ease; 
}
.startButton:hover{
  background-color: rgba(24, 127, 116, 0.8);
  transition: all 0.3s ease; 
  transform: scale(1.05);
}*/



.startButton {
  position: relative;
  padding: 12px 24px;
  background: transparent;
  font-size: 2em;
  font-weight: bold;
  color: #ffff;
  border: 2px solid rgba(0,209,194);
   background: linear-gradient(to top, rgba(0, 214, 200, 0.175)0%,rgba(0, 214, 200, 0)50%);
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
  width: 550px;
}
.startButton::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: linear-gradient(to top, rgba(0, 214, 200, 0.175)0%,rgb(0, 214, 200)50%);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.startButton:hover::before {
  transform: translateX(0);
}
.startButton:hover {
  color: #000;
}



.homeLogo {
    height: 130px;
    object-fit: contain;
}

.gridAreaLogoTextOnlyWhite {
height: 80px; /* Adjust size as needed */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure proper scaling */
  margin-right: 15px;
}