.processContainer {
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(50px, 1fr, 1fr);
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-areas:
        "header header"
        "item1 item2"
        "item3 item4"
    ;
    gap: 10px;
    padding: 10px;
    align-self: center;
    margin-bottom: 100px;
}

.processBox1 {
    height: 90%;
    width: 80%;
    background-color: rgba(30, 30, 30,0.1);
    border-radius: 10px;
    border: 1px solid rgb(24, 127, 116);
    padding: 10px;
   
}

.processTitle {
    grid-area: header;
    color: seashell;
    font-size: 2.8rem;
    height: 0;
    position: relative;
    top: 20%;


}
.processboxText{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

.item1 {
    grid-area: item1;
    background-color: rgb(205, 41, 41);


}