.processContainer {
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(50px, 1fr, 1fr);
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-areas:
        "header header"
        "item1 item2"
        "item3 item4"
    ;
    gap: 10px;
    padding: 10px;
    align-self: center;
    margin-bottom: 100px;
}

.processBox1 {
    height: 90%;
    width: 80%;
    background-color: rgba(30, 30, 30,0.1);
    border-radius: 10px;
    border: 1px solid rgb(24, 127, 116);
    padding: 10px;
   
}

.processTitle {
    grid-area: header;
    color: seashell;
    font-size: 2.8rem;
    height: 0;
    position: relative;
    top: 20%;


}
.processboxText{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}

.item1 {
    grid-area: item1;
    background-color: rgb(205, 41, 41);


}
.fase1IconsContent{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.explainContent{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.explainPic{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 10px;
    padding: 10px;

}
.explainText{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding: 10px;
    font-weight: 500;
    position: relative;
}
.explainLineContent{
    display: flex;
    flex-direction: row;
}
.iconTitle{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 10px;
    height: 0;
    position: relative;
    bottom: 20%;
    right: 10%;

}