.GridAreaContainer {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
}

.gridTitleContent {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 100%;
}

.titleText {
    color: white;
    font-size: 3.5em;
    text-align: center;
}

.gridareaContainer {
    display: grid;
    grid-template-areas:
        "box1 box3"
        "box2 box3";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    width: 80%;
    padding: 5px;
    align-self: center;
    gap: 10px;
    transition: all 0.2s ease;


}

.gridbox1 {
    grid-area: box1;
    display: flex;
    justify-content: center;
    align-items: left;
    background-color: rgb(30, 30, 30);
    /* Example color */
    color: white;
    font-size: 1.5em;
    height: 180px;
    width: 100%;
    border-radius: 15px;
    justify-self: left;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.269);
    transition: all 0.2s ease;
    left: 0;
}

.gridbox2 {
    grid-area: box2;
    height: auto;
    width: 100%;
    background-color: rgb(30, 30, 30);
    align-self: center;
    justify-self: left;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.269);
    transition: all 0.2s ease;
    padding: 10px;


}

.gridbox3 {
    grid-area: box3;
    height: auto;
    background-color: rgb(30, 30, 30);
    width: 85%;
    height: 45vh;;
    margin-bottom: -10vh;
    align-self: center;
    justify-self: right;
    border-radius: 15px;
    margin-right: 20px;
   box-shadow: 0 0 20px rgba(255, 255, 255, 0.269);
    transition: all 0.2s ease;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;;

}

.wieuitlegText {
    color: white;
    font-size: 1.2rem;

}

.gridbox1:hover,
.gridbox2:hover,
.gridbox3:hover {
    outline: 2px dotted rgb(24, 127, 116);
    transform: tranlateY(-50px);
    transition: all 0.1s ease;
}

.angledUnderline {
    position: relative;
    display: inline-block;
    color: rgb(24, 117, 116)
}

.angledUnderline::before,
.angledUnderline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background-color: rgba(24, 117, 116, 0.5);
    transform: skewX(-15deg);
    transform: rotate(-2deg);
}

.wieGridAreaText {
    color: white;
    font-size: 1.5rem;
    font-family: 'inter', sans-serif;
    
}

.wieText {
    color: white;
    font-size: 2rem;
    font-family: 'inter', sans-serif;
    
}
.wieInhoudText{
    margin-left: 20px;
    color: white
}

.gridSkillSet {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    gap: 30px;

}
.styletext{
    font-size: 1.2rem;
}